@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading fonts */
@font-face {
    font-family: "CormorantGaramond-Bold";
    src: url("../public/fonts/CormorantGaramond-Bold.ttf");
}

@font-face {
    font-family: "CormorantGaramond-BoldItalic";
    src: url("../public/fonts/CormorantGaramond-BoldItalic.ttf");
}

@font-face {
    font-family: "CormorantGaramond-Italic";
    src: url("../public/fonts/CormorantGaramond-Italic.ttf");
}

@font-face {
    font-family: "CormorantGaramond-Light";
    src: url("../public/fonts/CormorantGaramond-Light.ttf");
}


@font-face {
    font-family: "CormorantGaramond-LightItalic";
    src: url("../public/fonts/CormorantGaramond-LightItalic.ttf");
}

@font-face {
    font-family: "CormorantGaramond-Medium";
    src: url("../public/fonts/CormorantGaramond-Medium.ttf");
}

@font-face {
    font-family: "CormorantGaramond-MediumItalic";
    src: url("../public/fonts/CormorantGaramond-MediumItalic.ttf");
}

@font-face {
    font-family: "CormorantGaramond-Regular";
    src: url("../public/fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "CormorantGaramond-SemiBold";
    src: url("../public/fonts/CormorantGaramond-SemiBold.ttf");
}

@font-face {
    font-family: "CormorantGaramond-SemiBoldItalic";
    src: url("../public/fonts/CormorantGaramond-SemiBoldItalic.ttf");
}
